@font-face {
    font-family: 'Monofonto'; /*a name to be used later*/
    src: url('../assets/inconsolata.ttf'); 
    /* src: url('assets/monofonto.otf'); URL to font */
}

.monospaced {
    font-family: 'Monofonto';
    font-size: 12px;
    font-stretch: extra-expanded;
}

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.button {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    margin: 10px auto;
}

.big-btn {
    width: 90px;
    height: 40px;
}

html { 
    height: 100%; 
}

body {
    height: 100%; 
    overflow: hidden; 
    background-color: #ffffff;
    color: #524535;
}